body {
	background-color: #F3F2EE;
	background-image: url("/asserts/img/wp3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 110%;
}

#form-cadastro-cliente{
	width: 40em;
	margin: 0 auto;
	background-color: #fff;
	padding: 1.5em;
	padding-top: 2.5em;
	margin-top: 3em;
}

select:invalid { color: gray; }
