.menu-cliente-lateral{
	height: 100%;
	padding-bottom: 2em;
}

.menu-cliente-lateral #logo-livraria{
	font-size: 2.5em;
	font-weight: 100;
    padding: 0.8em 0;
}

.menu-cliente-lateral img{
	margin-bottom: 10px;
}

.menu-cliente-lateral div{
	padding: 0em 1em;
}

.menu-cliente-lateral div button{
	text-align: left;
	border: 0;
}

.menu-cliente-lateral div button .texto{
	padding-left: 1em;
}

.menu-cliente-lateral .glyphicon{
	color: #bbb7b7;
}

.menu-cliente-topo{
	padding: 1.5em 1em;
	border-bottom: 1px solid #dedddd;
}

.glyphicon{
	top: 3px;
}

.carrinho{
	margin-bottom: 3em;
}

.carrinho table tr td{
	vertical-align: middle !important;
}

.carrinho table tr td:NTH-CHILD(2){
	vertical-align: top !important;
}

.carrinho .valor-total{
	background-color: #EEEEEE;
    padding: 1.5em;
    margin-bottom: 2em;
}

.carrinho .valor-total .cor-verde{
	font-size: 1.7em !important;
}

.carrinho .valor-total .cor-verde hr{
	border-color: #dad4d4; 
}


.compras table tr td:NTH-CHILD(2){
	width: 200px;
}
.compras table tr td:NTH-CHILD(3){
	width: 120px;
}

.compras table tr td{
	vertical-align: middle !important;
}

.compras table tr th:NTH-CHILD(2),
.compras table tr th:NTH-CHILD(3),
.compras table tr td:NTH-CHILD(2),
.compras table tr td:NTH-CHILD(3){
	text-align: center;
}


.cropArea {
  background: #fff;
  overflow: hidden;
  
  height:350px;
}


@media (max-width: 999px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1250px) {
  .container {
    width: 1000px;
  }
}

