.btn-verde,
.btn-verde:HOVER,
.btn-verde:ACTIVE,
.btn-verde:FOCUS,
.btn-verde:ACTIVE:FOCUS,
.btn-verde:ACTIVE:HOVER,
.btn-verde-o,
.btn-verde-o:HOVER,
.btn-verde-o:ACTIVE,
.btn-verde-o:FOCUS,
.btn-verde-o:ACTIVE:FOCUS,
.btn-verde-o:ACTIVE:HOVER{
	background-color: #5BC0AA;
	border-color: #4baf98;
}

.btn-verde:HOVER,
.btn-verde:ACTIVE,
.btn-verde:FOCUS,
.btn-verde:ACTIVE:FOCUS,
.btn-verde:ACTIVE:HOVER{
	background-color: #4baf98;
}

.btn-verde-o{
	background-color: rgba(91, 192, 170, 0);
	color: #4baf98;
	font-weight: 300;
}

.cor-cinza{
	color: #777676;
}

.cor-cinza-claro{
	color: #909ca7;	
}

.cor-vermelho{
	color: #FD5650;	
}

.cor-verde{
	color: #5bc0aa;
}


