<div class="col-sm-12" style="background-color: #F0F4F7; height: 100%;">
	<div class="col-sm-12">
		<h1>Livros Disponiveis</h1>
	</div>
	<div >
		<div class="col-sm-2">
			Total de livros: <b>{{livros.length}}</b>
		</div>
		<div class="col-sm-5 text-center">
					
		</div>
		<div class="col-sm-5 text-right filtro-livro">
			<a href="" ng-click="filtroLivroPorCategoria('Todos')">Todos</a>
			<a href="" ng-click="filtroLivroPorCategoria('Ação')">Ação</a>
			<a href="" ng-click="filtroLivroPorCategoria('Aventura')">Aventura</a>
			<a href="" ng-click="filtroLivroPorCategoria('Horror')">Horror</a>
			<a href="" ng-click="filtroLivroPorCategoria('Infantil')">Infantil</a>
			<a href="" ng-click="filtroLivroPorCategoria('Ficção')">Ficção</a>
			<a href="" ng-click="filtroLivroPorCategoria('Romance')">Romance</a>
		</div>
	</div>
	<div class="col-sm-12 lista-livro flex-container flex-row flex-wrap" ng-init="carregarLivros()">
		
		<div ng-if="mensagem.length != 0">
			{{mensagem}}
		</div>
		<div class="container-livro flex-container flex-column" ng-repeat="livro in livros">
			<div class="flex-container flex-row">
				<div class="pull-left"">
					<img foto-src="{{livro.id}}" />
				</div>
				<div class="pull-left flex-container flex-column descricao-livro">
					<div><b>{{livro.titulo}}</b></div>
					<div class="cor-cinza">{{livro.autor}}</div>
					<div class="cor-cinza-claro">
						<small>
							{{livro.descricao}}
						</small>
					</div>
					<div class="cor-cinza-claro">
						<small>Ano: {{livro.ano}} - {{livro.paginas}}p</small>
					</div>
					<div class="cor-cinza-claro">
						<small>Editora: {{livro.fornecedor.nome}}</small>
					</div>
				</div>
			</div>
			<div class="row flex-container flex-aling-items-center">
				<div class="col-sm-6">
					<b>R$: {{livro.valor}}</b>
				</div>
				<div class="col-sm-6 text-right">
					<button ng-click="adicionarItemNoCarrinho(livro)" class="btn btn-primary btn-verde">adicionar</button>
				</div>
			</div>
		</div>
		
		
		
	</div>
</div>