<div class="col-sm-offset-3 col-sm-6">
	
	<div class="text-center">
		<h1>Novo Fornecedor</h1>
		<br />
	</div>

	<form ng-submit="cadastrarFornecedor()" ng-init="carregarEstados()">
		<div class="form-group">
			<label for="nome">Nome:</label>
			<input type="text" ng-model="fornecedor.nome" id="nome" class="form-control input-lg" />
		</div>
		<div class="form-group">
			<label for="razaos">Razão Social:</label>
			<input type="text" ng-model="fornecedor.razaoSocial" id="razaos" class="form-control input-lg"  />
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="cnpj">CNPJ:</label>
				<input type="text" ng-model="fornecedor.cnpj" id="cnpj" class="form-control input-lg"  />
			</div>
			<div class="form-group col-sm-6">
				<label for="inscricaoEstadual">Inscrição Estadual:</label>
				<input type="text" ng-model="fornecedor.inscricaoEstadual" id="inscricaoEstadual" class="form-control input-lg"  />
			</div>
		</div>
		<div class="form-group">
			<label for="telefone">Telefone:</label>
			<input type="text" ng-model="fornecedor.telefone" id="telefone" class="form-control input-lg" />
		</div>
		<div class="form-group">
			<label for="endereco">Endereço:</label>
			<input type="text" ng-model="fornecedor.endereco" id="endereco" class="form-control input-lg" />
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="estado">Estado:</label>
				<select id="estado" class="form-control input-lg"
					ng-model="fornecedor.estados"
					ng-options="e.nome + ' - ' + e.sigla for e in estados"
					ng-change="carregarCidades(fornecedor.estados)"
					>
					<option value="" selected disabled > -- Selecione --</option>
				</select>
			</div>
			<div class="form-group col-sm-6">
				<label for="cidade">Cidade:</label>
				<select id="cidade" class="form-control input-lg"
					ng-model="fornecedor.cidades"
					ng-options="c.nome for c in cidades"
					>
					<option value="" disabled selected> -- Selecione --</option>
				</select>
			</div>
		</div>
		
		<div class="text-center">
		<br />
			<input type="submit"  value="Cadastrar Fornecedor" class="btn btn-primary btn-verde btn-lg" />
		</div>
	</form>
<br />
<br />
<br />
</div>