<div class="menu-cliente-lateral">
	<div class="text-center" id="logo-livraria">
		Livraira AS
	</div>
	<div class="text-center">
		foto
		<br /><br />
	</div>
	<div>
		<button class="btn btn-lg btn-default btn-block" ui-sref="admin">
			<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> <span class="texto">Home</span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default btn-block" ui-sref="admin.livro">
			<span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span class="texto">Minhas Compas</span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default btn-block" ui-sref="admin.configuracoes">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="texto">Configurações</span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default btn-block" ui-sref="admin.configuracoes">
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span class="texto">Sair</span>
		</button>
	</div>
</div>