<div class="menu-admin-lateral">
	<div>foto</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="admin-home">
			<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="padmin-livros">
			<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="padmin-fornecedores">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="padmin-configuracoes">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</button>
	</div>
</div>