<div class="menu-admin-lateral">
	<div>foto</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="admin">
			<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="admin.livro">
			<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="admin.fornecedor">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		</button>
	</div>
	<div>
		<button class="btn btn-lg btn-default" ui-sref="admin.configuracoes">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</button>
	</div>
</div>