<div class="carrinho container">

	<div class="text-center">
		<br />
		<h1>Meu Carrinho <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </h1>
		<br /><br />
	</div>
	
	<div class="col-sm-12">
		<table class="table" style="background-color: #fff">
			<thead>
				<tr>
					<th>Produto(s)</th>
					<th></th>
					<th class="text-center">Quantidade</th>
					<th class="text-center">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="produto in carrinho">
					<td  style="width: 70px !important">
						<img ng-src="{{produto.item.foto}}" width="100%" alt="" />
					</td>
					<td>
						<section>
							<b>{{produto.item.titulo}}</b>
						</section>
						<section>
							<small>
								{{produto.item.autor}}
							</small>
						</section>
						<section>
							<br />
							<b>
								R$: {{produto.item.valor}}
							</b>
						</section>
					</td>
					<td width="150px" >
						<section>
							<input type="number" min="1" ng-change="almentarQuantidade($index, produto)" ng-model="produto.quantidade" class="form-control input-lg text-center"/>
						</section>
						<section class="text-center">
							<button class="btn btn-link" ng-click="removerItemDoCarrinho($index, produto)">excluir</button>
						</section>
					</td>
					<td width="150px" class="text-center">
						{{getValorTotal(produto.item.valor, produto.quantidade)}}
					</td>
				</tr>
			</tbody>
		</table>
		
		
		
		<div>
			<div class="col-sm-offset-7 col-sm-5 valor-total">
				<div class="row cor-cinza">
					<div class="col-sm-12">
						<section class="pull-left">
							{{numeroDeItensCarrinho}} produtos: 
						</section>
						<section class="pull-right">
							R$ {{valorDaCompra}}
						</section>
					</div>
					<div class="col-sm-12">
						
						<section class="pull-left">
							Frete (?): 
						</section>
						<section class="pull-right">
							-
						</section>
					</div>
				</div>
				<div class="row cor-verde" ng-init="somarValorTotal()">
					<hr />
					<div class="col-sm-12">
						<section class="pull-left">
							Total
						</section>
						<section class="pull-right">
							R$ {{valorDaCompra}}
						</section>
					</div>
				</div>
			</div>
		</div>
		
		<div>
			<div class="row">
				<section class="col-sm-4 ">
					<button class="btn btn-default btn-lg btn-block">Continuar Compando</button>
				</section>
				<section class="col-sm-offset-4 col-sm-4">
					<button class="btn btn-primary btn-verde btn-lg btn-block">Compar</button>
				</section>
			</div>
		</div>
		
		
	</div>
	
</div>