<div class="carrinho col-sm-12">

	<div class="text-center">
		<br />
		<h1>Meu Carrinho <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </h1>
		<br /><br />
	</div>
	
	<div class="col-sm-12">
		<table class="table" style="background-color: #fff">
			<thead>
				<tr>
					<th>Produto(s)</th>
					<th></th>
					<th class="text-center">Quantidade</th>
					<th class="text-center">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="produto in carrinho">
					<td  style="width: 70px !important">
						<img ng-src="{{produto.item.foto}}" width="100%" alt="" />
					</td>
					<td>
						<section>
							<b>{{produto.item.titulo}}</b>
						</section>
						<section>
							<small>
								{{produto.item.autor}}
							</small>
						</section>
						<section>
							<br />
							<b>
								R$: {{produto.item.valor}}
							</b>
						</section>
					</td>
					<td width="150px" >
						<input type="number" ng-change="almentarQuantidade($index, produto)" ng-model="produto.quantidade" class="form-control input-lg text-center"/>
					</td>
					<td width="150px" class="text-center">
						{{getValorTotal(produto.item.valor, produto.quantidade)}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>